@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #414141;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.desktop-nav {
  display: none;
}

a:focus {
  outline: 2.5px solid #414141;
}

#menutoggle
{
  display: block;
  position: relative;
  top: 3.125em;
  left: 3.125em;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menutoggle a
{
  text-decoration: none;
  color: #232323;
  font-weight: bold;
  text-align: center;

  transition: color 0.3s ease;
}

#menutoggle a:hover
{
  color: #FF9818;
}

#menutoggle input
{
  display: block;
  width: 2.5em;
  height: 2em;
  position: absolute;
  top: -0.4375em;
  left: -0.3125em;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menutoggle span
{
  display: block;
  width: 2.0625em;
  height: 0.25em;
  margin-bottom: 0.3125em;
  position: relative;

  background: #FF9818;
  border-radius: 0.1875em;

  z-index: 1;

  transform-origin: 0.25em 0;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menutoggle span:first-child
{
  transform-origin: 0% 0%;
}

#menutoggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menutoggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-0.125em, -0.0625em);
  background: #232323;
}

#menutoggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menutoggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -0.0625em);
}

#menu
{
  position: absolute;
  width: 100%;
  margin: -3.125em 0 0 -3.125em;
  padding: 4em;
  padding-top: 6em;

  background-color: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: .5em ;
}

#menutoggle input:checked ~ ul
{
  transform: none;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.covid {
  background-color: #E6F7FF;
  color: #0171A8;
  text-align: center;
  padding: 1em;
}

.covid p {
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000;
  background-color: #0171A8;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 0.1875em;
  top: 0;
}

.mobile-logo img {
  width: 2em;
  display: block;
  position: absolute;
  top: 2.8125em;
  right: 3.125em;
}

.mobile-logo img:focus {
  border: 0.3125em solid #0171A8;
}

.mobile-nav {
  position: relative;
  margin-bottom: 5em;
  z-index: 10000;
}

.desktop-nav ul .current,
.mobile-nav ul .current {
  color: #FF9818;
  font-weight: bolder;
}

.desktop-nav ul .current:hover,
.mobile-nav ul .current:hover {
  color: #414141;
  font-weight: bolder;
}

h1 {
  text-transform: uppercase;
  color: #0171A8;
}

.banner-image, .about-banner-image {
  overflow: hidden;
  height: 650px;
  width: 100%;
  position: relative;
  z-index: -1000;
  background-color: #FFFBF5;
}

.banner-image img, .about-banner-image img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(110%);
}

.about-banner-image img{
  filter: brightness(105%);
}

.banner-text p {
  min-width: 9.375em;
  max-width: 18.75em;
  margin: 0 10em 2em 0;
  padding-bottom: 1em;
}

.banner-text {
  padding-right: 2em;
  position: absolute;
  bottom: 10em;
  left: 2em;
  padding-bottom: 2em;
}

.banner-button {
  border-radius: 2.5em;
  background-color: #0171A8;
  color: #fff;
  text-decoration: none;
  padding: 1em 3em;
  z-index: 100;
  transition: background-color .3s linear;
}

.banner-button:hover {
  background-color: #FF9818;
  color: #fff;
}

h2 {
  color: #0171A8;
  text-align: center;
}

/*Homepage*/

.about-us {
  text-align: center;
  padding: 4.5em;
}

.about-us p {
  max-width: 25em;
  margin: auto;
}

.blue-icon img {
  width: 10.9375em;
  margin: auto;
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
}

.pet-spotlight {
  background-color: #E6F7FF;
  padding-bottom: 2.25em;
  position: relative;
}

.pet-spotlight h3:first-child {
  margin-bottom: 0;
}

.pet-name {
  color: #0171A8;
}

h4 {
  font-weight: 400;
  text-transform: uppercase;
}

.brandy-text {
  margin: 2.25em;
}

.single-before {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single-before li {
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: .5em;
}

.single-before li::before {
  content: "🐾 ";
}

.adopt-button {
  border-radius: 2.5em;
  background-color: #0171A8;
  color: #fff;
  text-decoration: none;
  padding: .5em 2em;
  position: absolute;
  bottom: 9.375em;
  right: 2.25em;
  transition: background-color .3s linear;
}

.adopt-button:hover, .button:hover  {
  background-color: #FF9818;
}

.button {
  border-radius: 2.5em;
  background-color: #414141;
  color: #fff;
  text-decoration: none;
  padding: .5em 1.5em;
  position: absolute;
  bottom: 5.625em;
  right: 2.25em;
  transition: background-color .3s linear;
}

.about, .events {
  padding: 2.25em;
}

.events {
  background-color: #F4F4F4;
}

.about img {
  padding: 3em 1em 1em;
}

.date-number {
  top: 0.625em;
  left: .625em;
  position: absolute;
  text-shadow: 0.125em 0.125em #414141;
}

.date-month {
  top: 3.125em;
  left: 1.0625em;
  padding-top: .5em;
  position: absolute;
  text-shadow: 0.125em 0.125em #414141;
}

.event-name {
  bottom: 0.625em;
  left: 1.0625em;
  position: absolute;
  text-shadow: 0.125em 0.125em #414141;
  color: #E6F7FF;
}

.card-1 {
  margin-top: 3.125em;
}

.card-1, .card-2, .card-3 {
  position: relative;
  color: #F4F4F4;
  font-weight: bolder;
  margin-bottom: 1.5625em;
  transition: filter .5s ease, border .2s ease;
  background-color: #414141;
}

.card-1:hover,.card-2:hover, .card-3:hover, .card-1:focus, .card-2:focus, .card-3:focus {
  filter: grayscale(100%);
  border: 0.3125em solid #0171A8;
}

/*End of Homepage*/

/*About*/

.hours-about {
  position: relative;
  overflow: hidden;
}

.hours-content {
  position: absolute;
  top: 3em;
  left: 1em;
  padding: 1em;
  margin: 2em;
  z-index: 1;
}

.background {
   width: 90em;
   margin-left: -10em;
   opacity: .3;
   z-index: -1000;
 }

.front-image {
  display: none;
}

.hours {
  text-transform: uppercase;
}

.mandate {
  padding-top: 5em;
  background-color: #E6F7FF;
}

.mandate ul {
  list-style-type: none;
  text-align: center;
  padding: 0 3em 5em;
  max-width: 45em;
  margin: auto;
}

.mandate-list {
  margin: 0;
}

.help {
  padding: 5em 3em;
}

.help img {
  width: 15em;
  margin: auto;
  padding: 3em 0;
}

.help p {
  margin-bottom: 3em;
}

.btn {
  border-radius: 2.5em;
  background-color: #FF9818;
  color: #fff;
  text-decoration: none;
  padding: .5em 2.5em;
  transition: background-color .3s ease;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #414141;
  color: #fff;
}

.more {
  padding: 5em 3em;
  background-color: #f4f4f4;
}

.images {
  width: 20em;
  margin: auto;
}

.images div {
  filter: grayscale(100%);
  transition: filter .3s ease;
}

.images div:hover {
  filter: grayscale(0%);
}

.video {
  margin: auto;
  width: 20em;
  padding-top: 3em;
}

/*End of About*/

/*Adopt*/

.quiz {
  overflow: hidden;
  position: relative;
  height: 30em;
}

.quiz > img {
  width: 45em;
  margin-left: -5em;
  filter: brightness(.5);
}

.quiz-text {
  position: absolute;
  bottom: .2em;
  right: 1em;
  padding: 2em;
}

.quiz-text h3 {
  color: #E6F7FF;
  text-shadow: 0.1em 0.1em #414141;
}

.adoptable {
  padding: 7em 2.25em;
}

input[name=cats]:checked ~ .pets > div:not([data-type=cats]),
input[name=dogs]:checked ~ .pets > div:not([data-type=dogs]){
  display: none;
}

.pets > div > img {
  grid-area: pet-photo;
  padding: 1em;
  align-self: center;
}

.pets > div > span:first-child {
  grid-area: filter-1;
}

.pets > div > span:nth-child(2) {
  grid-area: filter-2;
}

.pets > div > a {
  grid-area: button;
}

.pets > div > .description {
  grid-area: description;
  padding: .5em;
}

.pets > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "pet-photo description"
  "pet-photo description"
  "filter-1 description"
  "filter-2 description"
  "button description"
}

.pets span, .pets a {
  text-align: center;
}

.pets span {
  max-height: 3em;
  margin: auto;
  padding: .5em 1em;
}

.pets a {
  background-color: #FF9818;
  color: #fff;
  width: 65%;
  margin: auto;
  margin-top: 1em;
  border-radius: 2.5em;
  text-decoration: none;
  padding: .75em 1.5em;
  text-transform: uppercase;
}

.pets a:hover {
  background-color: #414141;
  transition: background-color .3s ease, font-weight .5s ease;
  font-weight: bold;
}

h5 {
  color: #FF9818;
}

.pets > div > span {
  background-color: #E6F7FF;
  margin-top: .5em;
}

.adopt-steps {
  padding: 7em 2.25em;
  background-color: #E6F7FF;
  text-align: center;
}

.adopt-steps ol {
  list-style-type: none;
  padding: 1em;
}

.adopt-steps img {
  width: 5em;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 4em;
}

.adopt-steps h3 {
  color: #0171A8;
  font-weight: normal;
}

.adopt-steps a {
  margin: auto;
}

.why-adopt {
  padding: 7em 2.25em;
}

.why-adopt img {
  padding: 2em;
  max-width: 30em;
  margin: auto;
}

/*End of Adopt*/

.sponsors {
  background-color: #fff;
  padding: 6.25em 2.25em;
}

.sponsors h3 {
  text-transform: none;
  color: #0171A8;
  text-align: center;
  margin: 0;
}

.sponsors img {
  width: 12em;
  margin: auto;
  padding-top: 3em;
}

.newsletter {
  background-color: #E6F7FF;
  padding: 6.25em 2.25em;
}

.email-form input {
  width: 100%;
  border: none;
  margin: .5em 0 1em;
}

.sign-up {
  border-radius: 2.5em;
  background-color: #0171A8;
  color: #fff;
  text-decoration: none;
  padding: .5em 2em;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  transition: background-color .3s ease;
}

.sign-up:hover, .sign-up:focus {
  background-color: #FF9818;
}

.footer {
  padding: 0 2.25em;
  position: relative;
  background-color: #F4F4F4;
}

footer nav ul {
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  padding: 1.125em 0;
}

footer nav ul a {
  text-decoration: none;
  color: #414141;
  transition: color .3s ease;
}

footer nav ul a:hover {
  color: #FF9818;
}

.footer nav ul li {
  margin: 1.5625em;
}

.donate-button a {
  border-radius: 2.5em;
  background-color: #EB8100;
  color: #fff;
  text-decoration: none;
  padding: .5em 1.5em;
  transition: background-color .3s ease;
}

.donate-button a:hover {
  background-color: #414141;
  color: #fff;
}

.social-icons a {
  width: 3.125em;
  margin: 0 .5em;
}

.social-icons {
  padding: 2.25em 0 4.6875em;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 38em) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: contents;
  }

  .desktop-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: .75em 3em;
    margin: 0;
    background-color: #fff;
  }

  .desktop-nav ul a:hover {
    color: #FF9818;
  }

  .desktop-nav ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: #414141;
    transition: color 0.3s ease;
  }

  .desktop-nav ul li:first-child{
    max-width: 9.375em;
  }

  .banner-text {
    min-width: 21.875em;
    max-width: 40.625em;
    padding-right: 4em;
    padding-left: 2.25em;
    bottom: 8em;
  }

  .banner-text p {
    min-width: 10em;
    padding-bottom: 1em;
  }

  /*Homepage*/

  .brandy-text {
    max-width: 38.75em;
    margin: 5em;
  }

  .button, .adopt-button {
    padding: 1em 3em;
    border-radius: 2.5em;
  }

  .adopt-button {
    bottom: 13.75em;
    right: 2.25em;
  }

  .button {
    bottom: 7.5em;
    right: 2.25em;
  }

  .about, .events {
    padding: 2.5em;
  }

  .about-contents {
    display: flex;
    position: relative;
  }

  .about h2, .events h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  .about {
    position: relative;
  }

  .about-contents img, .about-contents p {
    align-self: center;
    width: 50%;
    max-width: 26em;
    margin: auto;
  }

  .about-contents p {
    min-width: 18.75em;
    text-align: right;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
  }

  img {
    overflow: hidden;
  }

  .card-1 img, .card-2 img, .card-3 img {
    height: 100%;
  }

  .card-1 {
    margin-top: 0;
  }

  /*End of Homepage*/

  /*About*/

  .mandate {
    padding-left: 3em;
    padding-right: 3em;
  }

  .help-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
  }

  .help-image, .help-text {
    place-self: center;
  }

  .more > .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    width: 35em;
  }

  iframe {
    width: 100%;
  }

  .video {
    width: 35em;
  }

  /*End of About*/

  /*Adopt*/

  .quiz > img {
    width: 100%;
    margin: auto;
  }

  .quiz-text h3 {
    max-width: 10em;
    }

  .quiz-text {
    bottom: 3em;
    left: 1em;
  }

  .pets {
    display: grid;
    grid-template-areas:
    "pet-1 pet-2"
    "pet-3 pet-4"
    "pet-5 pet-6";
    gap: 3em;
  }

  .adopt-steps ol {
    max-width: 35em;
    margin: auto;
  }

  .why-adopt p, .why-adopt ul {
    max-width: 35em;
    margin: auto;
    margin-bottom: 1em;
  }

  /*End of Adopt*/

  .sponsors {
    padding: 4.5em 2.25em;
  }

  .sponsors-images {
    display: flex;
    justify-content: space-around;
  }

  .sponsors-images img {
    width: 9.375em;
  }

  .newsletter form {
    margin: auto;
    max-width: 38.75em;
  }

  .newsletter label {
    display: block;
  }

  .newsletter form input {
    width: 70%;
    margin-right: 1em;
  }

  footer nav ul {
    text-align: left;
    position: relative;
  }

  footer .donate-button {
    position: absolute;
    top: .5em;
    right: 0.625em;
  }

  .footer nav ul li {
    margin: 1.5625em 0;
  }

  .footer p {
    max-width: 31.25em;
  }

  .footer {
    position: relative;
    padding: 1em 3em 5em;
  }

  .social-icons {
    position: absolute;
    bottom: 0.125em;
    right: 3em;
    display: block;
    width: 2em;
    padding: 0;
    margin: 0;
  }

}

@media only screen and (min-width: 60em) {

  .banner-image img, .about-banner-image img, .background img {
    width: 100%;
    height: auto;
  }

  .background {
    margin-left: 0;
  }

  .banner-text {
    max-width: 43.75em;
  }

  .banner-text p {
    max-width: 37.5em;
  }

  .icons {
    display: flex;
  }

  .icons div {
    margin: 0 2em;
  }

  /*Homepage*/

  .pet-spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }

  .brandy-image {
    overflow: hidden;
  }

  .brandy-text {
    margin: 2.25em;
    padding: 3.125em 0 6.25em;
  }

  .brandy-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  }

  .adopt-button {
    bottom: 2.25em;
    right: 15em;
  }

  .button {
    bottom: 2.25em;
    right: 3em;
  }

  .help-image img {
    width: 20em;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 4em 4em 0;
  }

  .events h2 {
    margin: 0;
  }

  /*End of Homepage*/

  /*About*/

  .hours-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60em;
    align-self: center;
  }

  .front-image {
    display: inline-block;
    padding: 6em 3em;
  }

  .more > .images {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50em;
  }

  /*End of About*/

  /*Adopt*/

  .quiz {
    display: flex;
    overflow: hidden;
  }

  .quiz > img {
    min-height: 100%;
    align-self: center;

  }

  .quiz-text {
    position: static;
    width: 50%;
    background-color: #E6F7FF;
    padding: 15em 2em 2em;
  }

  .quiz-text h3 {
    color: #0171A8;
    text-shadow: none;
  }

  .pets {
    grid-template-areas:
    "pet-1 pet-2 pet-3"
    "pet-4 pet-4 pet-6";
    max-width: 90em;
    margin: auto;
  }

  .pets > div {
    grid-template-areas:
    "pet-photo description description"
    "filter-1 description description"
    "filter-2 description description"
    "button description description"
    "blank description description"
  }

  .adopt-steps {
    padding: 5em;
  }

  .why-content {
    display: flex;
    align-items: center;
  }

  .why-text, .why-adopt img {
    width: 50%;
  }

  .why-adopt p {
    max-width: 60em;
  }

  /*End of Adopt*/

  .sponsors-images {
    max-width: 62.5em;
    margin: auto;
  }

  .newsletter {
    margin: 0;
  }

  .newsletter form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 0;
    max-width: none;
    place-content: start;
  }

  .newsletter p {
    padding: 0 2em;
  }

  .footer ul {
      display: flex;
      padding: .5em 15em 1em 0;
      justify-content: space-between;
  }

  .social-icons {
    padding-bottom: 2.5em;
  }
}

@media only screen and (min-width: 90em) {

  .footer ul {
      padding: .5em 17em 1em 0;
  }

  .banner-text {
    max-width: 50em;
  }

  .front-image {
    display: inline-block;
    margin-left: 8em;
  }
}
