@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  font-weight: bold;
  text-align: center;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #F19C3E;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #F19C3E;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 100%;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;

  background: #F4F4F4;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.covid {
  background-color: #CBECFC;
  color: #0171A8;
  text-align: center;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

.pet-spotlight ul li {
  list-style-type: none;
}

li:before {
  content: U+1F90D;
  margin-left: -20px;
  margin-right: 10px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}
